/* Custom navbar styles
-------------------------------------------------- */

/* Some decent yet simple docs on making your own navbar:
  https://www.w3schools.com/css/css_navbar.asp */

/* Mobile nav styling */

#mobile-nav-main-tag {
  background-color: #121212 !important;
}

.nav-link {
  text-align: left;
}

.nav-item .nav-link {
  color: #e5e5e5 !important;
}

.nav-item .nav-link:hover {
  font-weight: 600;
}

.active .nav-link {
  color: white;
  font-weight: 600;
}

/* END Mobile nav styling */

.zach-navbar-wrapper {
	height: 110px;
	width: 100%;
	background-color: black;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {
  #desktop-navbar-outer-wrap {
    display: none !important;
  }
  #desktop-navbar-inner-wrap {
    display: none !important;
  }
}


.zach-navbar-skinny-top {
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	line-height: 25px;
}

.navbar-top-social-links-ul {
	list-style-top: none;
	margin: 0;
	padding: 0;
	height: 30px;
	float: right;
}


.navbar-top-social-links-li {
	display: inline-block;
	float: left;
	line-height: 30px;
	margin-right: 5px;
}

.navbar-top-social-links-li a:hover {
	text-decoration: none;
}

.navbar-top-social-links-li a:hover img.social-media-navbar-img {
	display: none;
}

.navbar-top-social-links-li a:hover img.social-media-navbar-img-hover {
	display: inherit;
}

.social-media-navbar-img {
	height: 20px;
	width: auto;
	display: inherit;
}

.social-media-navbar-img-hover {
	height: 20px;
	width: auto;
	display: none;
}

.top-contact-info-span {
	font-size: 14px;
	height: 100%;
	line-height: 30px;
	float: right;
	padding-left: 5px;
	padding-right: 35px;
}



.fa-spacer {
	margin-left: 10px;
}


.zach-navbar-fat-bottom {
	height: 80px;
	width: 100%;
	border-bottom: 1px solid #c4c4c4;
	line-height: 85px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.company-logo-wrapper {
	display: inline-block;
	height: 100%;
	width: 340px;
}

.navbar-company-logo {
	/* Interesting information about getting the image to not offset down a few inches like it was doing
	  https://stackoverflow.com/questions/21932860/image-moving-down-inside-of-div */
	height: 68px;
	width: auto;
	display: block;
}

.navbar-main-options-wrapper {
	width: 800px;
	display: inline-block;
	height: 100%;
	float: right;
}

.zach-navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-right: 20px;
	height: 69px;
	float: right;
}

.zach-navbar-li {
	display: inline-block;
	float: left; /* key to getting the 'li's to not offset from 'ul' */
	vertical-align: middle;
	line-height: 69px;
}

.zach-navbar-li a {
	display: block;
	min-width: 75px;
	text-align: center;
	margin-right: 18px;
	margin-left: 18px;
	color: white;
	line-height: 69px;
}

.zach-navbar-li .active {
	font-weight: bold;
	color: white !important;
}

.zach-navbar-li a:hover {
	text-decoration: none;
	color: #c4c4c4;
}

.zach-navbar-inner-content-wrapper {
	margin: 0 auto;
	height: 100%;
}

@media (min-width: 1200px) {
	.zach-navbar-inner-content-wrapper {
		width: 1170px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.zach-navbar-inner-content-wrapper {
		width: 970px;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.zach-navbar-inner-content-wrapper {
		width: 750px;
	}
}

@media (max-width: 768px) {
	.zach-navbar-inner-content-wrapper {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}