	

	<div class="zach-navbar-wrapper">
		<div class="zach-navbar-skinny-top">
			<div class="zach-navbar-inner-content-wrapper">

				<span class="top-contact-info-span">
					<i class="fa-spacer fa fa-clock-o">
						M-F 9-5 PM
					</i>

					<i class="fa-spacer fa fa-phone">
						(936) 443-3449
					</i>

					<i class="fa-spacer fa fa-envelope">
						contact@brandbuilderscompany.com
					</i>
				</span>

				<ul class="navbar-top-social-links-ul">
					<li class="navbar-top-social-links-li">
						<a href="http://www.linkedin.com" target="_blank">
							<img class="social-media-navbar-img" src="./img/icons/linkedin-logo-24.png">
						</a>
					</li>
					<li class="navbar-top-social-links-li">
						<a href="http://www.google.com" target="_blank">
							<img class="social-media-navbar-img" src="./img/icons/google-plus-logo-24.png">
						</a>
					</li>
					<li class="navbar-top-social-links-li">
						<a href="http://www.facebook.com" target="_blank">
							<img class="social-media-navbar-img" src="./img/icons/facebook-logo-24.png">
						</a>
					</li>
					<li class="navbar-top-social-links-li">
						<a href="http://www.instagram.com" target="_blank">
							<img class="social-media-navbar-img" src="./img/icons/instagram-logo-24.png">
						</a>
					</li>
					<li class="navbar-top-social-links-li">
						<a href="http://www.twitter.com" target="_blank">
							<img class="social-media-navbar-img" src="./img/icons/twitter-logo-24.png">
						</a>
					</li>
				</ul>

			</div>
		</div>
		<div class="zach-navbar-fat-bottom">
			<div class="zach-navbar-inner-content-wrapper">

				<div class="company-logo-wrapper">
					<a href="index.html">
						<img class="navbar-company-logo" src="./img/brand-builders-logo-large-1246-width-on-light.png" />
					</a>
				</div>

				<div class="navbar-main-options-wrapper">
					<ul class="zach-navbar-ul">
						<li class="zach-navbar-li">
							<a href="products.html">Products</a>
						</li>
						<li class="zach-navbar-li">
							<a href="services.html">Services</a>
						</li>
						<li class="zach-navbar-li">
							<a href="designs.html">Designs</a>
						</li>
						<li class="zach-navbar-li">
							<a href="promotional-products.html">Promotional Products</a>
						</li>
						<li class="zach-navbar-li">
							<a href="quote-request.html">Request A Quote</a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>